@import '../../styles/settings.scss';
.columnForm {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.inputName{
    margin: 10px;
    text-align: center;
}